// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
    font-family: Arial, Helvetica, sand-serif;
    font-size: 30px;
}

body {
    background: #66b933;
}